:root{
    --text:#ffffff;
    --bg: #051723;
    --strange:#5987a7;
    --aqua:#45E1D9;
    --lgreen:#5f9945;
    --dgreen:#032004;
    --font:"Roboto",sans-serif
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
section{
    min-height: 100vh;
    height: auto;

}
body{
    font-family: var(--font);
    background-color: var(--bg);

}
nav{
    width: 100%;
    position: fixed;
    top: 0;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    height: 100px;
    z-index: 999;
    animation: decima 1s ease-in-out;
    transition: all 1s ease-in-out;

}
nav.cs{
    background-color: var(--strange);
}

@keyframes decima{
    0%{
        transform: translateY(-100px);
    }
    
}
