:root{
    --text:#ffffff;
    --bg: #051723;
    --strange:#5987a7;
    --aqua:#45E1D9;
    --lgreen:#fcfcfcfd;
    --dgreen:#032004;
    --font:"Roboto",sans-serif
    --roxo:
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: var(--font);
    background-color: var(--bg);

}
nav{
    width: 100%;
    position: fixed;
    top: 0;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    height: 100px;
    z-index: 999;
    animation: decima 1s ease-in-out;
    transition: all 1s ease-in-out;
#s3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.vid{
    width: 1000px;
    height: 620px;
}


}



nav.cs{
    background-color: var(--strange);
}

@keyframes decima{
    0%{
        transform: translateY(-100px);
    }
    
}

.navitems{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #ffffff56;
    padding: 10px;
    border-radius: 999px ;
}
.navitems img{
    width: auto;
    height: 30px;
    border-radius: 100%;

}
.navitems:hover{
    cursor: pointer;
}
a{
    color: inherit;
    text-decoration: none;
    font-size: 1vw;
    letter-spacing: 7px;
    opacity: 0.8;
    transition: all 200ms linear;
    font-weight: 700;
    text-shadow: var(--text)
}
a:hover{
    opacity: 1;
    text-shadow: 0px 3px 10px var(--text);
}
section{
    min-height: 100vh;
    height: auto;
}
#s1{
    background-image: url('../assets/images/desktop.jpg');
    background-attachment: fixed;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}


h1{
    font-size: 160px;
    word-break: break-word;
    overflow-wrap: break-word;
    text-transform: uppercase;
    text-shadow: 0px 1px 5px  var(--text);
    letter-spacing: 7px;
    width: 100%;
    text-align: center;
    animation:  esquerda 2s ease-in-out;

}
@keyframes esquerda{
    0%{
        transform: translateX(-100px);
        opacity: 0%;
    }
}
h2{
    font-size: 2.6vw;
    letter-spacing: 2px;
    width: 67%;
    margin-top: -20px;
    text-align: center;
    text-shadow: 0px 1px 5px var(--text);
    animation: direita 2s ease-in-out;
}
@keyframes direita{
    0%{
        transform: translateX(-100px);
        opacity: 0%;
    }

}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 50px;
    background-color: transparent;
    position: fixed;
    bottom: 0;
    width: 100%;
    transition: all 1s ease-in-out;

}
footer.ft{
    background-color: var(--lgreen);

}

footer a img{
    opacity: 0.7;
    transition: all 500ms linear;

}
footer a img:hover{
    opacity: 1;
    box-shadow: 0px 3px 10px var(--lgreen);
    transform: translateY(-5px) scale(1.1) rotate(360deg);
    border-radius: 999px;
}
#s2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    min-height: 70vh;
    color: var(--text);
    margin-top: -10vh; 
    padding-top: 10vh;
    position: relative;
    z-index: 2;
}

.card{
    width: 300px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transform: translateY(200px);
    transition:  opacity 0.6s ease, transform 0.6s ease;
}
.card.visible{
    opacity: 1;
    transform: translateY(0);
}

#s3{
    display: flex;
    justify-content: center;
    align-items: center;


}
#s4{
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    color: #ffffff;
 
}
.formulario{
    width: 300px;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 2px solid var(--text);
    border-radius: 10px;
    box-shadow: 0px 3px 10px #000000;
    color: #ffffff;
    
}
.formulario label{
    width: 100%;
    padding: 20px;
    margin-bottom: -25px;
    font-size: 20px;

}
.formulario input{
    width: 100%;
    padding: 10px;
    border: 2px solid var(--text);
    background-color: transparent;
    color: #ffffff;
    border-radius: 999px;
    font-size: 20px;
    box-shadow:  0px 3px 10px #000000;
}
.formulario textarea{
    max-width: 100%;
    width: 255px;
    min-width: 255px;
    padding: 10px;
    border: 2px solid var(--text);
    background-color: transparent;
    color: #ffffff;
    font-size: 16px;
    box-shadow:  0px 3px 10px #000000;
    border-radius: 999px;
}
.formulario button{
    width: 100%;
    padding: 10px;
    background-color: var(--text);
    color: #000000;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-size: 600;
    transition: all 200ms ease-in-out;
}
.formulario button:hover{
    cursor:pointer;
    box-shadow:  0px 3px 10px #000000;
    background-color: transparent;
    color: var(--text);
    border:  2px solid var(--text);
}



@media (width <=1000px){
    .navwords{
        display: none;
    }
    #s1{
        background-image: url('../assets/images/mobile.jpg');
        padding-top: 80px
    }
    .vid{
    width: 100%;
    height: 420px;
}
}

